body {
  font-family: Arial, Helvetica, sans-serif;
}

.DC {
  display: none;
}

#mainBody {
  
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color:white;
}

.firstPTag {
  margin-top: 150px;
  font-size: 15px;
  font-weight: 200;
}
.totalConfirmed {
  font-size: 40px;
  margin-top:-30px;
}
.secondPTag {
  font-size: 15px;
  font-weight: 200;
  margin-top:-20px;
}
.totalRecovered {
  font-size: 40px;
  margin-top:-30px;
}
.thirdPTag {
  font-size: 15px;
  font-weight: 200;
  margin-top:-20px;
}
.totalDeaths {
  font-size: 40px;
  margin-top:-30px;
}
.legendContainer {
  position: absolute; 
  margin-top: 470px;
  margin-right: 190px;
}
.legendTxt {
  text-align: center;
  font-size:15px;
  font-weight:200;
}
.firstItem {
  float:left;
  width:100px;
  height:10px;
  background-color:#f2df91;
}
.secondItem {
  float:left;
  width:100px;
  height:10px;
  background-color:#ffae43;
}
.thirdItem {
  float:left;
  width:100px;
  height:10px;
  background-color:#ff6e0b;
}
.forthItem {
  float:left;
  width:100px;
  height:10px;
  background-color:#ce0a05;
}
.fifthItem {
  float:left;
  width:100px;
  height:10px;
  background-color:#8B0000;
}
.ConnectorLine {
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  margin-top:-10px;
}
.ConnectorLineTxt {
  font-size:10px;
  font-weight: 200;
  text-align:center;
  margin-top:-20px;
}

#header {
  height:125px;
  width:100%;
  background-color:white;
  display: block;
  margin-top:-10px;
}
#BackgroundImgDiv {
  height:125px;
  background-image: url(./assets/HeaderImg2.jpeg);
  background-repeat: no-repeat;
  background-position-x: right;
  margin-right: 100px;
}
.headerLogo {
  margin-left: 100px;
  line-height: 80px;
}
.Logo {
  padding-top: 30px;
  float:left;
}
.title {
  margin-top: -85px;
  margin-left: 80px;
}
.subTitle {

 line-height:140px;
 margin-left: 83px;
}
#subTitleText {
  font-size: 14px;
  color:#c31412;
  position: absolute;
  font-weight: 150;
}

.navbar {
  background-color: #c31412;
}
.navbar-brand {
  color: #a75351;
}
.nav-link {
  color: #a75351;
}
#Logo {
  margin-right: 2px;
}
#RonaRadar2 {
  color:#c31412;
  position: absolute;
  font-weight: 150;
  font-size: 45px;
}

#logoutBtn {
  color: white;
  text-decoration: none;
  margin-right: 10em;
}
#logoutBtn:hover {
  color: #1f1c1c;
}

.right-aligned {
  margin-right: 10em;
}

path {
  pointer-events: all;
}

path:hover {
  fill: #595959;
  cursor: pointer;
}

#main {
  margin-right: 100px;
  margin-left: 100px;
  margin-top: 15px;
}

.us-state-map {
  width: 600px;
  height: 400px;
}

#mapTitle {
  font-size: 25px;
  font-weight: 150;
  text-align: center;
  color: black;
}

#stateImg {
  width: 700px;
  height: 550px;
  position: absolute;
  padding-left:13em;
}
#stateInfo {
  margin-left:-550px;
  margin-top: 50px;
  float: left;
  position: relative;
  width:300px;
  background-color: #D3D3D3;
  border-radius: 1em;
}
#stateName {
  color:black;
  text-align: center;
  margin: 10px;
}
#updatedDate {
  text-align: center;
  color: red;
}
td {
  margin: 10px;
  color: black;
}



.searchBox {
  position: absolute;
  top: 1rem;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#graphData {
  position: absolute;
  margin-top: 35em;
  margin-left: 150px;
  margin-bottom:20px;
  background-color:#D3D3D3;
  border-radius: 1em;
}
#graphData2 {
  position: absolute;
  margin-top: 35em;
  margin-left: -450px;
  margin-bottom:20px;
  background-color:#D3D3D3;
  border-radius: 1em;
}
.custom-tooltip {
  color:white;
}

#mapDiv {
  margin-right:-100px;
}

.shade { 
  color: white; 
  font: bold 52px Helvetica, Arial, Sans-Serif;
  text-shadow: 1px 1px red, 
                2px 2px red, 
                3px 3px red;
}
.shade:hover {
  position: relative; 
  top: -3px; 
  left: -3px; 
  text-shadow: 1px 1px red, 
                 2px 2px red, 
                 3px 3px red, 
                 4px 4px red, 
                 5px 5px red, 
                 6px 6px red;
}

#infoTable {
  margin:5px;
  width: 95%;
  color:white;
}
.infoLeft {
  width: 65%;
  text-align:left;
}
.infoRight {
  width: 30%;
  text-align:right;
}

#news-header {
  text-align: center;
}
.symptomsHeader {
  text-align: center;
}

 #outerDivMap {
  margin-top: 50px;
  width:100%;
  height:90%;
  /* position: fixed; */
} 
#innerDivMap {
  width:80%;
  height:70%;
  /* margin:0px auto;
  display:inline-block; */
} 

#cardBox {
  position: relative;
  margin-top:-100;
}
#directionsCard {
  width: 30rem;
  margin:1em;
}
#locationImg {
  width:50px;
  height:50px;
  text-align:center;
}
