#mainBody {
  background-image: url("https://elgin.edu/media/elginedu/news-and-events/COVID-19-1-800x500-1.jpg");
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
  /* background-color: #A38876; */
}

.navbar-brand {
  color:#A75351;
}
.nav-link {
  color:#A75351;
}
#Logo {
  margin-right:2px;
}
#logoutBtn {
  color:rgba(0,0,0,.5);
  text-decoration: none;
  margin-right:10em;
}
#logoutBtn:hover{
  color:#1F1C1C;
}

.right-aligned {
  margin-right:10em;
}

path {
    pointer-events: all;
  }

path:hover {
    opacity: 0.50;
    cursor: pointer;
  }

.us-state-map {
    width:600px;
    height:300px;
  }

h1 {
    text-align: center;
    color:#A75351;
}

#stateImg {
  width:700px;
  height:550px;
  position: absolute;
  padding-left: 20em;
}
#stateInfo {
  border: 2px solid black;
  margin-top: 2.5em;
  float: left;
  position: absolute;
}
#stateName {
  text-align: center;
  margin:10px;
}
#updatedDate {
  text-align: center;
  color:red;
}
#stateInfo p {
  text-decoration: underline;
  text-align: center;
  margin: 10px;
}

.navbar {
  background-color: #4E5661;
}

#graphData {
  position: absolute;
  margin-top: 35em;
  margin-left: 20em;
}

 .shade { 
    color: white; 
    font: bold 52px Helvetica, Arial, Sans-Serif;
    text-shadow: 1px 1px red, 
                 2px 2px red, 
                 3px 3px red;
  }
  .shade:hover {
    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px red, 
                 2px 2px red, 
                 3px 3px red, 
                 4px 4px red, 
                 5px 5px red, 
                 6px 6px red;
  }

